.sb-sidenav-dark {
    background-color: #6c757d;
}

.sb-topnav {
    background-color: #6c757d !important;
}

.sb-sidenav-footer{
    background-color: #6c757d !important;
}

#formSubmit {

    display: none;
}

.nv-b{
    color: #fff;
    background-color: #2b8638;
    border-color: #2b8638;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#submitButton{
    border: solid #2b8638;
    background-color: #2b8638;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#afficheButtons{
    
    background-color: #2b8638;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.nouveau-a{
    text-align: center;
    text-decoration: white;
}

.logged{
    text-decoration: white;
}

#print{
    background-color: #2b8638;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    
}

.print-a{
    text-decoration: white;
}